html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*

Primary Style

*/

h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
  color: #FFF;
  line-height: 58px;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
  color: #FFF;
}

body {
	font-size: 1.6em;
	background-color: #D7DADB;
	/* Prevent horizontal Scrolling */
	height: 100vh;
	margin: 0;
  margin-top: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0;
}

/*

div.main Stuff

*/

div.main {
  	position: relative;
  	z-index: 2;
  	/* fix bug on iOS */
  	height: 100vh;
  	overflow-y: auto;
 	-webkit-overflow-scrolling: touch;
  	padding: 200px 5%;
  	background-color: #2C3E50;
  	/* Force Hardware Acceleration in WebKit */
  	-webkit-transform: translateZ(0);
  	-moz-transform: translateZ(0);
  	-ms-transform: translateZ(0);
  	-o-transform: translateZ(0);
  	transform: translateZ(0);
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  	-webkit-transition: -webkit-transform 0.7s;
  	-moz-transition: -moz-transform 0.7s;
  	transition: transform 0.7s;
  	-webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  	-moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  	transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

div.main > h1, div.main > p {
  	text-align: center;
}

div.main > h1 {
  	font-size: 2.6rem;
  	margin-bottom: 1em;
}

div.main > p {
  	max-width: 450px;
  	margin: 0 auto;
  	line-height: 1.6;
}

svg {
  width: 200px;
  height: 150px;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

path {
  fill: none;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 10px;
  stroke: #FFF;
  stroke-dashoffset: 0px;
}

path#top,
path#bottom {
  stroke-dasharray: 240px 950px;
}

path#middle {
  stroke-dasharray: 240px 240px;
}

.cross path#top,
.cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}

.cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}

.navigation-is-open div.main {
  	-webkit-transform: translateY(100%);
  	-moz-transform: translateY(100%);
  	-ms-transform: translateY(100%);
  	-o-transform: translateY(100%);
  	transform: translateY(100%);
}

.navi-trigger {
  	position: fixed;
  	z-index: 3;
    top: 40px;
}



.navi-trigger .navi-icon::before, .navi-trigger .navi-icon:after {
  	/* upper and lower lines of the menu icon */
  	content: '';
  	position: absolute;
  	top: 0;
  	right: 0;
  	width: 100%;
  	height: 100%;
}

.navi-trigger svg {
  	position: absolute;
  	top: 0;
  	left: 0;
}

.no-touch .navigation-is-open .navi-trigger:hover .navi-icon::after, .no-touch .navigation-is-open .navi-trigger:hover .navi-icon::before {
  	top: 0;
}

.navi {
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	background-color: #6DBCDB;
  	visibility: hidden;
  	-webkit-transition: visibility 0s 0.7s;
  	-moz-transition: visibility 0s 0.7s;
  	transition: visibility 0s 0.7s;
}

.navi .navigation-wrapper {
  	/* all navigation content */
  	height: 100%;
  	overflow-y: auto;
  	-webkit-overflow-scrolling: touch;
  	padding: 40px 5% 40px calc(5% + 80px);
  	/* Force Hardware Acceleration in WebKit */
  	-webkit-transform: translateZ(0);
  	-moz-transform: translateZ(0);
  	-ms-transform: translateZ(0);
  	-o-transform: translateZ(0);
  	transform: translateZ(0);
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	transform: translateY(-50%);
  	-webkit-transition: -webkit-transform 0.7s;
  	-moz-transition: -moz-transform 0.7s;
  	transition: transform 0.7s;
  	-webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  	-moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  	transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}

.navi .half-block {
  text-align: center;
}

.navigation-is-open .navi {
  	visibility: visible;
  	-webkit-transition: visibility 0s 0s;
  	-moz-transition: visibility 0s 0s;
  	transition: visibility 0s 0s;
}

.navigation-is-open .navi .navigation-wrapper {
  	-webkit-transform: translateY(0);
  	-moz-transform: translateY(0);
  	-ms-transform: translateY(0);
  	-o-transform: translateY(0);
  	transform: translateY(0);
  	-webkit-transition: -webkit-transform 0.5s;
  	-moz-transition: -moz-transform 0.5s;
  	transition: transform 0.5s;
  	-webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  	-moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  	transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.navi > h2 {
  	position: relative;
  	margin-bottom: 1.7em;
  	font-size: 1.3rem;
  	font-weight: 800;
  	color: #2C3E50;
  	text-transform: uppercase;
}

.navi > h2::after {
  	/* bottom separation line */
  	content: '';
  	position: absolute;
  	left: 0;
  	bottom: -20px;
  	height: 1px;
  	width: 60px;
  	background-color: #2C3E50;
}

.navi .primary-navi {
  	margin-top: 60px;
}

.navi .primary-navi > li {
  	margin: 1.6em 0;
}

.navi .primary-navi a {
  	font-family: 'Raleway', sans-serif;
  	font-size: 2.4rem;
  	color: #D7DADB;
  	display: inline-block;
}

.navi .primary-navi a.selected {
  	color: #ffffff;
}

.no-touch .navi .primary-navi a:hover {
  	color: #ffffff;
}

.no-js div.main {
  	overflow: visible;
}

.no-js .navi {
  	visibility: visible;
}

.no-js .navi .navigation-wrapper {
  	height: auto;
  	overflow: visible;
  	padding: 200px 5%;
  	-webkit-transform: translateY(0);
  	-moz-transform: translateY(0);
  	-ms-transform: translateY(0);
  	-o-transform: translateY(0);
  	transform: translateY(0);
}

/*

Media Queries Mobile Devices

*/
@media only screen and (min-width: 786px){
	div.div.main {
		padding: 250px 10%;
	}

	div.div.main > h1 {
		font-size: 2.6em;
	}

	div.div.main > p {
		font-size: 1.6em;
	}

}

@media only screen and (min-width: 1170px) {
	
	.navi .navigation-wrapper {
    	padding: 62px 20%;
  	}
  	
  	.navi .navigation-wrapper::after {
    	clear: both;
    	content: "";
    	display: table;
  	}
  	
  	.navi .half-block {
    	width: 100%;
    	float: left;
  	}
  	
  	.navi .primary-navi {
    	margin-top: 0;
  	}
  
  	.navi h2 {
    	font-size: 1.5rem;
    	margin-bottom: 5.6em;
  	}
  
  	.navi .primary-navi li {
    	margin: 2em 0;
  	}
  
  	.navi .primary-navi a {
    	font-size: 2.4rem;
  	}
}
.stuff {
  background-color: #a7aaab;
}

.content {
  padding: 10px 10px 10px 10px;
}
