body, html {
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  transition: background-color 0s ease-in-out;
  color: #000;
  text-decoration: none;
  align-items: center;
}

/* Invert text color when the background becomes dark */
.dark-mode {
  color: white;
}

a {
  text-decoration: none;
  color: #00f;
}

a:visited {
  color: #000;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: bold;

  text-align: center;
}

ul {
  list-style-type: none;
}

.bio {
  font-style: italic;
}

  
p {
  font-size: large;
}  

.stuff {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  align-items: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.menu {
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 300%;
}

#post-link {
  color: #0af;
}

.post-box {
  display: flex;

}

.post-text {
  width: 100%;
}

.post-img {
  width:100%;
  display: flex;
  flex-wrap: wrap;
}

.post-head {
  color: royalblue;
  text-decoration: underline;
  font-size: 300%;
}

.post-date {
  font-weight: bold;
  font-size: 200%;
  text-align: center;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 300%;
}
