<!DOCTYPE html>
<html lang="en" class="no-js">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="/media/favicon.ico" rel="icon" type="image/x-icon">
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="js/require.js"></script> 
    <script type="text/javascript" src="https://rawgit.com/ironwallaby/delaunay/master/delaunay.js"></script> 
    <script type="text/javascript" src="js/jquery-3.2.1.js"></script> 	  
</head>
<body>
	
  {{ content }}
	
</body>
</html>
