<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	  
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="google-site-verification" content="_5qph-AH15P5jfrDudrKvdLk0B0TNGsj32Bg80TNV18" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link href="/assets/media/favicon.ico" rel="icon" type="image/x-icon">
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="/assets/js/jquery-3.2.1.js"></script> 	  
   </head>
   <body>
    <nav>
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
          {{ item.name }}
        </a>
      {% endfor %}
    </nav>


    {{ content }}
      
   </body>
 </html>
