@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --color-my-blue: #00FFCC;
  --font-mono: "Source Code Pro", monospace;
  --animate-wiggle: wiggle 1s linear infinite both;  
  --animate-shake: shake 0.5s linear infinite both;
  --animate-tracer: tracer 3s linear infinite both;
  @keyframes wiggle {
    0%        { transform: rotate(0deg); }
    25%       { transform: rotate(3deg); }
    75%       { transform: rotate(-3deg); }
    100%      { transform: rotate(0deg); }
  }
  @keyframes tracer {
    to {
      --angle: 360deg;
    }
  }


  @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
}

@media {
  html, body {
    @apply bg-black text-white scroll-smooth font-mono;
  }

  .h-pad {
    @apply px-10 py-10;
  }
}

